html,
body {
  height: 100%;
  margin: 0;
  transition: background-color 0.3s ease;
}

a {
  text-decoration: none;
  color: unset;
}

.markdown {
  display: flex;
  flex-direction: column;
  gap: 10px;

  p {
    margin: 0;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-left: 30px;
  }
}
